body, html {
    height: 100%;
    margin: 0;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header1 {
    background: transparent;
    text-decoration-color: #ffffff;
    text-size-adjust: auto;
    padding: 20px;
}
.nav-link{
    color : blue;
}
#headertext {
    text-align: left;
    text-transform: uppercase;
    color: #000;
}
.navbar .bg-dark{
    opacity : 0.25;
}
/*.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar a.navbar-brand {
    padding: 9px 15px 8px;
}*/
.verticalLine {
    border-left: thick solid #ff0000;
}

hr.vertical {
    color: white;
    width: 0px;
    height: 100%; /* or height in PX */
}
.navbar-nav > li {
    border-right: 0.25px solid #ffffff;
    height : 50%;
}

    .navbar-nav > li:last-child {
        border: none;
    }
.navbar {
    min-height: 50px;
    height: 50px;
}
.seperation {
    border-right: 0.10px solid whitesmoke;
    height: 20%;
   
}
.navbar .a::before{
    content :'|';
    color :skyblue;
}

.jumbotron {
    min-width: 500px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
   
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    /*margin: 10px 10px 10px 10px;
    border: 0.08em solid black;*/
}




.footercontent {
    color: white;
    text-decoration: none !important;
    /*background: transparent;*/
    opacity: 0.75;
}


* {
    box-sizing: border-box;
}


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.container1 {
    margin: auto;
    
}

    .container1 .options {
        align-content :right;
        margin-right: 0px;
    }

.main {
    width: 0px;
    height: 0px;
    margin: auto;
}

.main .options {
        float: right;
    }

.options {
    margin-right: 100%;
    width: 300px;
    height: 20px;

    margin-top: 0;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 3px;
}

    .options a {
        color: white;
        text-decoration: none;
    }

        .options a + a:before {
            content: " | ";
            color: skyblue;
            
        }




.container2 .footer {
    /* margin-top: 170px;
        margin-left: 16%;
        margin-right: 14.7%;
        height: 25px;
        width: 1030px;
            margin: auto;
        margin-top: 215px;
           */
    background-color: rgba(49, 40, 71, 0.8);
}

.copyright {
    text-align: center;
    font-size: 12px;
        line-height: 24px;
        
    color: white;
}

    .copyright a {
        text-decoration: underline;
        text-underline-offset: 3px;
        color: white;
    }


h6 {
    margin: 0;
}

.header{
margin-top:170px;
margin-left:16%;
margin-right:14.7%;
height:25px;
width:1030px;


margin:auto;
margin-top:215px;
}